/* CSS styles for 'browse artists' view */

.views-table  .views-field-recordings,
.views-table .views-field-tracks {
  font-weight: bold;
}

.views-table .views-field-recordings UL LI A,
.views-table .views-field-recordings UL LI A:hover {
  color: #000000;
  text-decoration: none;
}

.views-field-title A {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
