/* CSS styles for 'browse albums' view */

.views-field-title {
  margin: 1em 0 0.15em 0;
  font-size: 1.15em;
  font-weight: bold;
}

.views-field-title A {
  display: table-cell;
  text-decoration: none;
  color: #000000;
  font-size: 1.35em;
  vertical-align: bottom;
  padding-top: 1.15em;
}

.views-field-field-artists A {
  text-decoration: none;
  color: #000000;
  font-size: 1.25em;
}

.views-field-field-artists A:hover {
  font-weight: bold;
  color: #000000;
}

.views-field-title {
  display: table-cell;
  margin: 0;
  vertical-align: bottom;
  height: 6em;
}

.views-col {
  width: 30% !important;
}

.views-row {
  border-bottom: solid thin #cccccc;
  padding-bottom: 1.5em;
}

.col-1 {
  margin-right: 1.5%;
}
.col-2 {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.col-3 {
  margin-left: 1.5%;
}
